

  <div class="row">
    <div class="col-6 border border-light rounded p-5 shadow" *ngIf="formulario">
      <h6>Cadastro de categorias</h6>
      <hr>

      <form [formGroup]="formulario" (ngSubmit)="EnviarDependente()">

        <div class="form-group">
          <label>Nome:</label>
          <input type="text" class="form-control form-control-sm" formControlName="nome">
        </div>

        <div class="form-group">
          <label>Email:</label>
          <input type="email" class="form-control form-control-sm" formControlName="email">
        </div>

        <div class="form-group">
          <label>Parentesco:</label>
          <input type="text" class="form-control form-control-sm" formControlName="parentesco">
        </div>

        <div class="form-group">
          <label>Numero cartão:</label>
          <input type="number" class="form-control form-control-sm" formControlName="numeroCartao">
        </div>

        <div class="form-group">
          <label>Id Socio:</label>
          <input type="number" class="form-control form-control-sm" formControlName="fk_Socio">
        </div>

        <div class="container">
          <div class="row">
            <div>
              <button type="submit" class="btn btn-sm btn-success">Salvar</button>
            </div>
            <div class="pl-1">
              <button type="submit" class="btn btn-sm btn-outline-slight">Voltar</button>
            </div>

          </div>
        </div>

      </form>

    </div>
  </div>


  <animacao-ondas></animacao-ondas>
