<div class="row">
  <div class="col-6 border border-light rounded p-5 shadow" *ngIf="formulario">
    <h6>Cadastro de sócio</h6>
    <hr>

    <form [formGroup]="formulario" (ngSubmit)="EnviarMensalidade()">

      <div class="form-group">
        <label>Data de vencimento:</label>
        <input type="text" class="form-control form-control-sm" formControlName="dataVencimento">
      </div>

      <div class="form-group">
        <label>Valor inicial:</label>
        <input type="number" class="form-control form-control-sm" formControlName="valorInicial">
      </div>

      <div class="form-group">
        <label>Data de pagamento:</label>
        <input type="text" class="form-control form-control-sm" formControlName="dataPagamento">
      </div>

      <div class="form-group">
        <label>Juros:</label>
        <input type="number" class="form-control form-control-sm" formControlName="juros">
      </div>

      <div class="form-group">
        <label>Valor final:</label>
        <input type="number" class="form-control form-control-sm" formControlName="valorFinal">
      </div>

      <div class="form-group">
        <label>Quitada:</label>
        <input type="text" class="form-control form-control-sm" formControlName="quitada">
      </div>

      <div class="form-group">
        <label>Id socio:</label>
        <input type="text" class="form-control form-control-sm" formControlName="fkSocio">
      </div>


      <div class="container">
        <div class="row">
          <div>
            <button type="submit" class="btn btn-sm btn-success">Salvar</button>
          </div>
          <div class="pl-1">
            <button type="submit" class="btn btn-sm btn-outline-slight">Voltar</button>
          </div>

        </div>
      </div>

    </form>

  </div>
</div>
