<h4>Listagem de Dependentes</h4>
<hr/>
   <div>
    <table class="table table-hover" *ngif="dependentes"> 
        <th>Nome</th>
        <th>Email</th>
        <th>Parentesco</th>
        <th>Numero do Cartão</th>

      <tr *ngfor="let dependente of dependentes">
        <td>{{ dependente.Nome }}</td>
        <td>{{ dependente.Email }}</td>
        <td>{{ dependente.Parentesco }}</td>
        <td>{{ dependente.numeroCartao }}</td>
        <td>
          <button type="button" class="btn btn-sm btn-outline-danger">Excluir</button>
        </td>
      </tr>
    </table>
  </div>