<div class="container p-5" *ngIf="visibilidadeTabela">
  <div class= "container p-2">
    <button type="button" class="btn  btn-primary" (click)="ExibirFormularioCadastro()">
      Novo Sócio
    </button>
  </div>

  <div class="border boder-light rounded p-5">  
    <table class="table  table-hover table-sm" *ngIf="socios">      
      <tr class="thead-light">
        <th>#</th>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Cartão</th>
        <th>Telefone</th>
        <th>CEP</th>
        <th>UF</th>
        <th>Cidade</th>
        <th>Bairro</th>
        <th>Logradouro</th>
        <th>Categoria</th>
        <th>Ações</th>
      </tr>

      <tr *ngFor="let socio of socios">
        <td>{{socio.Id}}</td>
        <td>{{socio.Nome}}</td>
        <td>{{socio.Email}}</td>
        <td>{{socio.NumeroCartao}}</td>
        <td>{{socio.Telefone}}</td>
        <td>{{socio.Cep}}</td>
        <td>{{socio.Uf}}</td>
        <td>{{socio.Cidade}}</td>
        <td>{{socio.Bairro}}</td>
        <td>{{socio.Logradouro}}</td>
        <td>{{socio.Categoria.Tipo}}</td>
        <td>
          <button type="button" class="btn btn-sm btn-outline-info ">
            Atualizar</button>
          <button type="button" class="btn btn-sm btn-outline-danger espacamento-btn">
            Excluir
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="container p-5" *ngIf="visibilidadeFormulario">
  <div class="row">
    <div class="col-6 border boder-light rounded p-5 shadow" *ngIf="formulario">
      <h6>{{ tituloFormulario }}</h6>
      <hr />

      <form [formGroup]="formulario" (ngSubmit)="EnviarFormulario()">
        <div class="form-group">
          <label>Nome</label>
          <input
            type="text"
            class="form-control form-control-sm"
            formControlName="Nome"
          />
        </div>

        <div class="form-group">
          <label>E-mail</label>
          <input
            type="text"
            class="form-control form-control-sm"
            formControlName="Email"
          />
        </div>

        <div class="form-group">
          <label>Número do cartão</label>
          <input
            type="text"
            class="form-control form-control-sm"
            formControlName="NumeroCartao"
          />
        </div>

        <div class="form-group">
          <label>Telefone</label>
          <input
            type="text"
            class="form-control form-control-sm"
            formControlName="Telefone"
          />
        </div>

        <div class="form-group">
          <label>CEP</label>
          <input
            type="text"
            class="form-control form-control-sm"
            formControlName="Cep"
          />
        </div>

        <div class="form-group">
          <label>UF</label>
          <input
            type="text"
            class="form-control form-control-sm"
            formControlName="Uf"
          />
        </div>

        <div class="form-group">
          <label>Cidade</label>
          <input
            type="text"
            class="form-control form-control-sm"
            formControlName="Cidade"
          />
        </div>

        <div class="form-group">
          <label>Bairro</label>
          <input
            type="text"
            class="form-control form-control-sm"
            formControlName="Bairro"
          />
        </div>

        <div class="form-group">
          <label>Logradouro</label>
          <input
            type="text"
            class="form-control form-control-sm"
            formControlName="Logradouro"
          />
        </div>

        <div class="form-group">
          <label>Categoria</label>
          <input
            type="number"
            class="form-control form-control-sm"
            formControlName="Categoria"
          />
        </div>

        <div class="container">
          <div class="row">
            <div>
              <button type="submit" class="btn btn-primary">
                Salvar
              </button>
            </div>
            <div class="pl-1">
              <button type="button" class="btn btn-danger espacamento-btn" (click)="Voltar()">Voltar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- <ng-template #conteudoModal>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Confirmação de Exclusão</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Prosseguir com a exclusão do(a) {{ categoria.tipo }}
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modalRef.hide()">Não</button>
        <button type="button" class="btn btn-outline-danger" (click)="ExcluirCategoria(categoriaId)">Sim</button>
    </div>
</ng-template> -->

<animacao-ondas>