<h5>Login</h5>
<form>
  <div class="row">
    <div class="input-field col s12">
      <label class="active" for="usuario">Usuário</label>
      <input [(ngModel)]="usuario.nome" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email" required #nome="ngModel">
      <div *ngIf="!nome.valid && nome.touched"
                class="alert alert-danger" role="alert">
                Usuário é obrigatório.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <label class="active" for="senha">Senha</label>
      <input [(ngModel)]="usuario.senha" type="password" class="form-control" id="senha" placeholder="Password" required #password="ngModel">
      <div *ngIf="!password.valid && password.touched"
                class="alert alert-danger" role="alert">
                Senha é obrigatório.
      </div>
    </div>
  </div>
  <br>
  
    <button type="submit" class="btn btn-primary" (click)="fazerLogin()">Login</button>
 
</form>
<animacao-ondas></animacao-ondas>
  
  