<h4>Listagem de Mensalidades</h4>
<hr/>
   <div>
    <table class="table table-hover" *ngif="mensalidades">
      <th>Data da Mensalidade</th>
      <th>Valor da Mensalidade</th>
      <th>Data do Pagamento</th>
      <th>Juros</th>
      <th>Valor do Pagamento</th>
      <th>Quitação</th>

      <tr *ngfor="let mensalidade of mensalidades">
        <td>{{ mensalidade.dataPagamento }}</td>
        <td>{{ mensalidade.valorinicial }}</td>
        <td>{{ mensalidade.dataPagamento }}</td>
        <td>{{ mensalidade.Juros }}</td>
        <td>{{ mensalidade.valorFinal }}</td>
        <td>{{ mensalidade.Quitada }}</td>
        <td>
          <button type="button" class="btn btn-sm btn-outline-danger" (click)="ExibirConfirmacaoExclusao(mensalidade.Idmensalidade, pessoa.nome, conteudoModal)">
            Excluir</button>
        </td>
      </tr>
    </table>
  </div>

  <ng-template #conteudoModal>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Confirmação de Exclusão</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Prosseguir com a exclusão?
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modalRef.hide()">Não</button>
      <button type="button" class="btn btn-outline-danger" data-dismiss="modal" (click)="ExcluirMensalidade(Id)">Sim</button>

    </div>
  </ng-template>