<h4>Listagem de Mensalidades</h4>
<br>
<div>
    <table class="table table-hover">

      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Data de Pagamento</th>
          <th scope="col">Valor da Mensalidade</th>
          <th scope="col">Data Paga</th>
          <th scope="col">Juros</th>
          <th scope="col">Valor Pago</th>
          <th scope="col">Quitação</th>

        </tr>
      </thead>
      <tbody>
        <tr style="cursor: pointer;">
          <td scope="row"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
