<h4>Listagem de Mensalidades</h4>
<hr/>
   <div>
    <table class="table table-hover" *ngif="mensalidades">
      <th>Data da Mensalidade</th>
      <th>Valor da Mensalidade</th>
      <th>Data do Pagamento</th>
      <th>Juros</th>
      <th>Valor do Pagamento</th>
      <th>Quitação</th>

      <tr *ngfor="let mensalidade of mensalidades">
        <td>{{ mensalidade.dataPagamento }}</td>
        <td>{{ mensalidade.valorinicial }}</td>
        <td>{{ mensalidade.dataPagamento }}</td>
        <td>{{ mensalidade.Juros }}</td>
        <td>{{ mensalidade.valorFinal }}</td>
        <td>{{ mensalidade.Quitada }}</td>
        <td>
          <button type="button" class="btn btn-sm btn-outline-danger">
            Excluir</button>
        </td>
      </tr>
    </table>
  </div>