

  <div class="row">
    <div class="col-6 border border-light rounded p-5 shadow" >
      <h6>Cadastro de categorias</h6>
      <hr>

      <form [formGroup]="formulario" (ngSubmit)="EnviarCategoria()">

        <div class="form-group">
          <label>Tipo:</label>
          <input type="text" class="form-control form-control-sm" formControlName="tipo">
        </div>

        <div class="form-group">
          <label>Meses:</label>
          <input type="text" class="form-control form-control-sm" formControlName="meses">
        </div>



        <div class="container">
          <div class="row">
            <div>
              <button type="submit" class="btn btn-sm btn-success">Salvar</button>
            </div>
            <div class="pl-1">
              <button type="submit" class="btn btn-sm btn-outline-slight">Voltar</button>
            </div>

          </div>
        </div>

      </form>

    </div>
  </div>

