<h5>Cadastrar Categoria</h5>
<form #formCategoria="ngForm" (ngSubmit)="onSubmit(formCategoria)">
    <div class="form-group">
      <label for="nomeCategoria">Nome da Categoria</label>
      <!-- Para associar o valor que o usuário insere no input, precisamos utilizar o name e o ngModel-->
      <input type="text" class="form-control" name="nome" id="campoNomeCategoria" placeholder="Insira o nome da categoria" [(ngModel)]="categoria.nome" required>
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
        <button type="button" class="btn btn-danger espacamento-btn">Fechar</button>

        <br><br>

    <div>
      <table class="table table-hover">

        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Categoria Inserida</th>

          </tr>
        </thead>
        <tbody>
          <tr style="cursor: pointer;">
            <td scope="row"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
</form>
<animacao-ondas></animacao-ondas>