<div class="container p-5" *ngIf="visibilidadeTabela">
  <div class= "container p-2">
    <button type="button" class="btn  btn-primary" (click)="ExibirFormularioCadastro()">
      Nova Categoria
    </button>
  </div>

  <div class="border boder-light rounded p-5">  
    <table class="table  table-hover table-sm">      
      <tr>
        <th>#</th>
        <th>Tipo</th>
        <th>Meses</th>
        <th>Ações</th>
      </tr>

      <tr *ngFor="let cat of categorias">
        <td>{{ cat.Id }}</td>
        <td>{{ cat.Tipo }}</td>
        <td>{{ cat.Meses }}</td>
        <td>
          <button type="button" class="btn btn-sm btn-outline-info " (click)="ExibirFormularioAtualizacao(categoria.categoriaId)">
            Atualizar</button>
          <button type="button" class="btn btn-sm btn-outline-danger espacamento-btn" (click)="ExibirConfirmacaoExclusao(categoria.categoriaId, categoria.tipo, conteudoModal)">
            Excluir
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="container p-5" *ngIf="visibilidadeFormulario">
  <div class="row">
    <div class="col-6 border boder-light rounded p-5 shadow" *ngIf="formulario">
      <h6>{{ tituloFormulario }}</h6>
      <hr />

      <form [formGroup]="formulario" (ngSubmit)="EnviarFormulario()">
        <div class="form-group">
          <label>Tipo</label>
          <input
            type="text"
            class="form-control form-control-sm"
            formControlName="tipo"
          />
        </div>

        <div class="form-group">
          <label>Meses</label>
          <input
            type="text"
            class="form-control form-control-sm"
            formControlName="meses"
          />
        </div>

        <div class="container">
          <div class="row">
            <div>
              <button type="submit" class="btn btn-primary">
                Salvar
              </button>
            </div>
            <div class="pl-1">
              <button type="button" class="btn btn-danger espacamento-btn" (click)="Voltar()">Voltar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<ng-template #conteudoModal>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Confirmação de Exclusão</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Prosseguir com a exclusão do(a) {{ categoria.tipo }}
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modalRef.hide()">Não</button>
        <button type="button" class="btn btn-outline-danger" (click)="ExcluirCategoria(categoriaId)">Sim</button>
    </div>
  </ng-template>

  <animacao-ondas>