<h4>Listagem de Sócio</h4>
<hr/>
   <div>
    <table class="table table-hover" *ngif="socios"> 
        <th>Nome</th>
        <th>Endereço</th>
        <th>Telefone</th>
        <th>Email</th>
        <th>Status</th>
        <th>Categoria</th>
        <th>Numero do Cartão</th>

      <tr *ngfor="let socio of socios">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <button type="button" class="btn btn-sm btn-outline-danger">
            Excluir</button>
        </td>
      </tr>
    </table>
  </div>